[submodule "Hydra/vendor/spdlog"]
	path = Hydra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hydra/vendor/GLFW"]
	path = Hydra/vendor/GLFW
	url = https://github.com/1HenrikGharagyozyan/glfw
[submodule "Hydra/vendor/imgui"]
	path = Hydra/vendor/imgui
	url = https://github.com/HenrikGharagyozyan/imgui.git
[submodule "Hydra/vendor/glm"]
	path = Hydra/vendor/glm
	url = https://github.com/g-truc/glm
