# ====================================================================
# Hydra Engine - Git Ignore Configuration
# ====================================================================

# Build Output & Tool Binaries
bin/
bin-int/
**/bin/
**/bin-int/

# Premake Automation Downloads
vendor/premake/bin/premake5
vendor/premake/bin/premake5.exe
vendor/premake/bin/*.zip
vendor/premake/bin/*.tar.gz
vendor/premake/bin/LICENSE.txt

# Python Cache
**/__pycache__/

# IDEs and Workspace Configurations
.vs/
.vscode/
*.user
*.suo

# Visual Studio Build Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Linux/macOS Build Artifacts
Makefile
*.make
*.workspace
*.solution
*.o
*.a
*.so
*.d
*.dylib

# Engine/Editor Cache & Dynamic Logs
Hydra/vendor/VulkanSDK/
HydraEditor/assets/cache/
*.log

# Profiling Logs
HydraProfile-*.json