[submodule "Hydra/vendor/spdlog"]
	path = Hydra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hydra/vendor/GLFW"]
	path = Hydra/vendor/GLFW
	url = https://github.com/1HenrikGharagyozyan/glfw
[submodule "Hydra/vendor/glm"]
	path = Hydra/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hydra/vendor/imgui"]
	path = Hydra/vendor/imgui
	url = https://github.com/1HenrikGharagyozyan/imgui
	branch = hydra-docking
[submodule "Hydra/vendor/yaml-cpp"]
	path = Hydra/vendor/yaml-cpp
	url = https://github.com/1HenrikGharagyozyan/yaml-cpp.git
